#articulos h3{
    letter-spacing: .3rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #c860d9;
    margin: 20px;
    text-shadow: 2px 2px 2px blue;
}


#articulos .contenedor__articulos{
    width:90%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    
}



.card{
    width: 100%;
    height: 400px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}


.card img{
    width: 100%;
    height:280px;
    margin-lef:auto;
    margin-right:auto;
}

.card h5{
    background: rgba(147, 147, 148, 0.5);
    margin-top:-230px;
    left: 20px;
    font-weight: bold;
    position:absolute;
    color: rgb(250, 249, 250);
    padding: 5px;
    border-radius: 3px;
    
}

figure .cerveza{
    width: 80%;
    height: 280px;
    background:none;
}

.contenido{
    width: 100%;
    text-align: center;   
    height: 225px;
   position: relative;
   overflow: hidden;
   padding: 10px;
}

.contenido h2{
    font-size: 20px;
}

.contenido span{
    color: #c860d9;
}


@media(min-width:550px){
    .card{
       width:400px;
       heights:425px;
       bottom:15px;
}
}


@media (min-width:1024px) {
    
    #articulos .contenedor__articulos{
        width:100%;
    }
    
    .card{
        margin-bottom:15px;
        width: 30%;
        height:440px;
        margin-left:auto;
        margin-right:auto;
    }
    .card img{
        box-shadow: none;
        width: 100%;
        height: 280px;
        margin-left:auto;
        margin-right:auto;    
    }
    
 
    #articulos h3{
        letter-spacing: .5rem;
        font-size: 25px;        
    }
    .contenido h2{
        margin-top:0;
        font-size: 20px;
    }

    
    figure .cerveza{
        width:80%;
        height: 280px;
        background:none;
        margin-left: auto;
        margin-right:auto;
    }
}
