#articulos h3{
    letter-spacing: .3rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

#articulos .contenedor__articulos{
    width:90%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}

.card{
    margin-top:10px;
    margin-bottom:30px;
    width: 100%;
    height: 400px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.card img{
    width: 100%;
    height:280px;
    margin-lef:auto;
    margin-right:auto;
    cursor:pointer;
}

.card img:hover{
    filter:brightness(70%);
    cursor: pointer;
}

.card h5{
    background: rgba(147, 147, 148, 0.5);
    margin-top:-230px;
    left: 20px;
    font-weight: bold;
    position:absolute;
    color: rgb(250, 249, 250);
    padding: 5px;
    border-radius: 3px;    
}

figure .cerveza{
    width: 80%;
    height: 280px;
    background:none;
    margin-left:auto;
    margin-right:auto;
}

.contenido{
    width: 100%;
    text-align: center;   
    height: 225px;
   position: relative;
   overflow: hidden;
   padding: 10px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.contenido h2{
    font-size: 20px;
}

.contenido span{
    color: #c860d9;
}

.contenido p{
    display:inline;
}
/*********************SECCION GRANDE TOURS******************/
.nomostrar{
    display: none;
}

.btn__mostrar__container{
    width: 70%;
    height: 50px;
    margin-top:20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top:20px;
}

.mostrarT{
    width: 100%;
    height: 50px;
    margin-top:20px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.61);
    text-align: center;
    padding:15px;
    cursor:pointer;
    font-weight: bold;
    border-radius:6px;
    text-decoration: none; 
}

.icon-cancel{
    color:red;
    float:right;
    font-size:20px;
    margin-top:20px;
    width:35px;
    border:2px solid red;
    border-radius:50%;
}

.icon-cancel:hover{
    transform:rotate(180deg);
    transition: .5s;
}

@media(min-width:550px){
    .card{
       width:400px;
       heights:400px;
       bottom:15px;
}
}

@media (min-width:1024px) {
    
    #articulos .contenedor__articulos{
        width:100%;
    }
    
    .card{
        width: 30%;
        height:440px;
    }
    
    .card img{
        box-shadow: none;
        width: 90%;
        height: 280px;
        margin-left:auto;
        margin-right:auto;
        border-radius:6px;
    }
    
    card:hover{
        cursor:pointer;
    }
    
    #articulos h3{
        letter-spacing: .5rem;
        font-size: 25px;        
    }
    
    .contenido h2{
        margin-top:0;
        font-size: 20px;
    }

    figure .cerveza{
        width:80%;
        height: 280px;
        background:none;
    }
}
