#articulos h3{
    letter-spacing: .3rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #c860d9;
    margin: 20px;
    text-shadow: 2px 2px 2px blue;
}


#articulos .contenedor{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    
}



.card{
    margin: 15px;
    width: 100%;
    height: 480px;
    
    border-bottom: 1px solid black;
    position: relative;
}


.card img{
    
    width: 100%;
    /*height: 250px;*/
    
    
}

.card h5{
    background: rgba(147, 147, 148, 0.5);
    margin-top:-230px;
    left: 20px;
    font-weight: bold;
    position:absolute;
    color: rgb(250, 249, 250);
    padding: 5px;
    border-radius: 3px;
    
}

figure .cerveza{
    width: 300px;
    height: 280px;
    background:none;
    margin-left: 14%;
}

.contenido{
    width: 100%;
    text-align: center;   
    height: 225px;
   position: relative;
   overflow: hidden;
   padding: 10px;
}

.contenido h2{
    font-size: 20px;
}

.contenido span{
    color: rgb(52, 68, 212);
    font-weight: bold;

}
/*.contenido a{
    text-align: center;
    margin-top: 20px;
    left: 38%;
    text-decoration: none;
    padding: 7px;
    border: 3px solid black;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    position: absolute;
    background: #c860d9;
    box-shadow: 1px 3px 10px black;
    
}

.contenido a:hover{
    background: rgba(0, 0, 0, .7);
    color:white;
}*/


@media (min-width:1024px) {
    .card{
        border: 1px solid black;
        box-shadow: 3px 3px 10px black;
        border-radius: 6px;
        width: 25%;
        
    }
    .card img{
        box-shadow: none;
        width: 100%;
        height: 280px;
        padding: 8px;
        background: rgba(0, 0, 0, .1);
        
    }
    
    .card:hover{
        cursor: pointer;
    }

    #articulos h3{
        letter-spacing: .5rem;
        font-size: 25px;        
    }
    .contenido h2{
        font-size: 25px;
    }

    figure .cerveza{
        width: 100%;
    }
    figure .cerveza{
        /*width: 300px;*/
        height: 270px;
        background:none;
        margin-left: 0;
    }
}