.blog__titulo{
    width: 90%;
    margin-top:70px;
    text-align:center;
    border-bottom: 3px double black;
    margin-left: auto;
    margin-right: auto;
}

.blog__titulo h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:48px;
    margin-bottom:10px;
}

.blog__titulo p{
    font-weight: 700;
    margin-bottom:20px;
}

.blog-container{
    position: relative;
    margin-top: 75px;
    width:98%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    margin-bottom: 10px;
}

.article1, .article2, .article3, .article4, .article5{
    margin-top:10px;
    margin-bottom:10px;
    
    width: 80%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content:center;

}
