.contacto__titulo{
    width: 90%;
    margin-top:70px;
    text-align:center;
    border-bottom: 3px double black;
    margin-left: auto;
    margin-right: auto;
}

.contacto__titulo h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:48px;
    margin-bottom:10px;
}


.contacto__titulo p{
    font-weight: 700;
    margin-bottom:20px;
}
.contacto{

    width:90%;
    height: 400px;
    margin-top:90px;
    margin-bottom:200px;
    margin-left: auto;
    margin-right: auto;
    display:ausolute;
    background: rgb(89, 142, 223);
    border-radius:6px;  
}

.contacto__form{
    width: 90%;
    height:300px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -570px;
    text-align: center;
    margin-bottom:-300px;
    margin-left: auto;
    margin-right: auto;
}

.contacto__titulo2 h3{
    text-align: center;
    font-size:16px;
    color: #000;
    font-weight: bold;
    margin-bottom:5px;
}

.contacto__inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.contacto__inputs input{
    height:40px;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background:rgba(255, 255, 255, .6);
    
}
.contacto__inputs input:hover{
    border:1px solid rgb(207, 83, 211);
}

.contacto__body{
    width:100%;
    text-align: center;
    position: relative;
  

}
label{
    display: block;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
textarea{
    width: 90%;
    height:75px;
    resize:none;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background:rgba(255, 255, 255, .6);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
input submit{
    height:40px;
    border-radius: 5px;
}

@media (min-width: 1024px){

    .contacto{
        width: 70%;
        height:450px;
    }

    .contacto__form{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        top: -600px;
    }
    .contacto__inputs{
        
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .contacto__inputs inputs{
        width: 50%;

    }

}
