.cover__responsive{
    display: flex;
    width:100%;
    height:280px;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}

.cover__responsive img{
   width: 100%;
   height: 280px;
   object-fit: cover;
   
}


.imagen2{ 
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    transition:transform 3s;


}

.imagen3{
    width: 100%;
    object-fit: cover;
    position: absolute;
   
}
.imagen2{
    animation-name: opacidad;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes opacidad {
 from{   
   filter:opacity(1);
 }
 to{ 
     filter:opacity(0);
     transform:scale(1.5);
     
 }
  }

@media (min-width: 1024px){
    .cover__responsive{
        display: none;
    }    
}
