
.icon-attention:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-up-dir:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-down-open-big:before { content: '\e805'; } /* '' */
.icon-share:before { content: '\e806'; } /* '' */
.icon-at:before { content: '\e807'; } /* '' */
.icon-ok-circle:before { content: '\e808'; } /* '' */
.icon-heart-filled:before { content: '\e809'; } /* '' */
.icon-thumbs-down:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-facebook:before { content: '\e80e'; } /* '' */
.icon-clock:before { content: '\e80f'; } /* '' */
.icon-at-1:before { content: '\e810'; } /* '' */
.icon-youtube:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-progress-5:before { content: '\e813'; } /* '' */
.icon-progress-3:before { content: '\e814'; } /* '' */
.icon-progress-4:before { content: '\e815'; } /* '' */
.icon-progress-6:before { content: '\e816'; } /* '' */
.icon-progress-7:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-cancel-circle:before { content: '\e819'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
