header .logo{
    
    height: 50px;
    float: left;
    width: 125px;
    top: 0;
    left: 20px;
    position: relative;
    z-index: 101;
    cursor: pointer;
}

.down {
    background-color: #a0d2eb;
    animation-name: abajo;
    animation-duration:1s;


  }

@keyframes abajo {
    from { transform: translateY(-100px)}

    to{ transform: translateY(0)} 
}

#menu-bar{
    display: none;
}
header label{
    position: relative;
    top: 10px;
    width:40px;
    margin-right: 20px;
    float: right;
    cursor: pointer;
    font-size: 20px;
    z-index: 104;
    color:var(--color_principal);
    border:2px solid var(--color_principal);
    text-align:center;
    border-radius:4px;
}

#barra{
    display: block;
    transition:.7s;
}

#cerrar{
    display: none;
    transition:.7s;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background: #d0bdf4;
    transition:0.7s;
    transform: translateX(-1024px);
    z-index: 103;
   
}

.menu a{
    display: block;
    color: var(--color_principal);
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition:0.7s;
    transform: translateX(2000px);
    font-weight: bold;
}

.menu a:hover{
    background: rgba(255, 255, 255, .3);
    
}
.disabled{
    cursor:default;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bold;

}

.disabled span{
    color:red;
}

#menu-bar:checked ~ .menu{
    transform: translateX(0);
}

#menu-bar:checked ~ .menu a{
    transform: translateX(0);
}


@media (min-width:1024px) {
    .menu{
        /*background: rgba(230, 123, 24);*/
        position: static;
        width: auto;
        height: 0;
        transform: translateX(0);
        float: right;
        display: flex;
        padding: 10px;
        background:none;
    }
    .menu a{
        
        transform: translateY(0);
        border-bottom: none;
        color: rgb(219, 60, 224); 
        height: 35px;
        margin-right: 25px;
        padding: 10px;
        
    }

    .menu a:hover{
        color: rgb(5, 5, 5);
        font-weight: bold;
        /*text-shadow: 1px 1px 2px rgb(61, 61, 61);*/
        border-bottom: 3px solid var(--color_principal);
        background: none;
        
    }    

    
    header label {
        display: none;
    }  
    #barra{
        left: -2000px;
    }
    #cerrar{
        left:-2000px;
    }

    header.logo{
        position: relative;
        
       
        width: 250px;
        height: 250px;
        margin-top: -70;
        
    }     
    
    /*.icon-menu .icon-cancel{
        display: none;
    }*/

    
}
