.questions__titulo{
    width: 90%;
    margin-top:70px;
    text-align:center;
    border-bottom: 3px double black;
    margin-left: auto;
    margin-right: auto;
}

.questions__titulo h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:48px;
    margin-bottom:10px;
}


.questions__titulo p{
    font-weight: 700;
    margin-bottom:20px;
}
.questions__acordeon{
    width: 90%;
    height: auto;
    margin-top: 90px;
    margin-bottom:50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(152,152,236);
    background: radial-gradient(circle, rgba(152,152,236,0.7122199221485469) 0%, rgba(182,182,237,1) 31%, rgba(213,239,245,1) 76%);
    
}

/*.questions__acordeon__item {
    width: 90%;
    display: flex;
    justify-content: center;
    
}*/
.questions__acordeon input{
    display: none;
}
.questions__acordeon label{
    display: block;
    padding: 10px;
    width: 100%;
    height: 40px;
    margin-top: 0;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left:20px;
    background-color: var(--color_principal);
    cursor: pointer;
    
}
.questions__acordeon__titulo{
    display: block;
    padding: 2px;
}

.questions__acordeon__titulo span{
    display:inline-block;
    transform:rotate(-90deg);
    color:#fff;
    font-weight:800;
    transition:.7s;
    float:right;
    margin-right:10px;
}


.questions__acordeon__contenido{
    width: 90%;
    height:30px;
    border-radius:6px;
    background:#e5eaf5;
    height: 0;
    padding: 10px;
    
    transform: translateY(-2000px);
    overflow: hidden;
    transition:all .5s;
}
.questions__acordeon__contenido {
    margin-right: 20px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    color: #000;
    font-weight:bold;
}

.questions__acordeon__contenido span{
    color: violet;
}

.questions__acordeon__item input:checked ~ .questions__acordeon__contenido{
    height: auto;
    transform: translateX(20px);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: .5s;
    margin-bottom:15px;
}
.questions__acordeon__item input:checked ~ .questions__acordeon__titulo span{
    transform:rotate(180deg);
    transition:.7s;
}

@media (min-width: 1024px){
    .questions__acordeon{
        width: 70%;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .questions__acordeon__item {
        width: 90%;
        display: flex;
        justify-content: center;
        
    }
    .questions__acordeon label{
        display: block;
        padding: 15px;
        width: 100%;
        height: 50px;
        margin-top: 15px;
        border-radius: 4px;
        margin-bottom: 0px;
        background-color: var(--color_principal);
        cursor: pointer;
        
    }
}
