.reservas__titulo{
    width: 90%;
    margin-top:70px;
    text-align:center;
    border-bottom: 3px double black;
    margin-left: auto;
    margin-right: auto;
}

.reservas__titulo h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:48px;
    margin-bottom:10px;
}


.reservas__titulo p{
    font-weight: 700;
    margin-bottom:20px;
}

.mapa{
    width: 100%;
    margin-top: 70px;

}

.mapa__titulo{
    width: 90%;
    text-align:center;
    font-size:13px;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 3px 1px 3px grey;
}

.mapa__display{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.mapa__display iframe{
    width: 100%;
    height: 250px;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius 5px;
    box-shadow: 3px 3px 10px black;

}

.reserva__acordeon{
    margin-top:20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.reserva__acordeon input{
    display:none;
}
.reserva__acordeon label{
    display: block;
    padding: 10px;
    width: 100%;
    height: 40px;
    margin-top: 0;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: left;
    background-color: var(--color_principal);
    cursor: pointer;
    
}

.reserva__acord__contenido{
    width: 100%;
    height: 0;
    padding: 0;
    background: #e5eaf5;
    border-radius: 6px;
    overflow: hidden;
    transition:all .5s;
    /*display: inline-block;*/
    margin-left:auto;
    margin-right:auto;
    font-weight: bold;
    
    
    
}

.reserva__acordeon input:checked ~ .reserva__acord__contenido{
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: .5s;
    margin-bottom:15px;
    padding: 20px;
}


.formulario{
    width: 90%;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
}

.form__titulo h3{
    width: 100%;
    margin-bottom: 10px;
    font-size:16px;
    
}

.form__titulo h3{
    text-align:center;
}

.form__body{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(189, 186, 186);
    border-radius: 10px;
    padding: 10px;
    
}

.form__inputs input{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    height: 40px;
    border: none;
    border-radius:5px;
    padding: 10px 10px;
    cursor: pointer;
}



.form__body input{
    margin-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: none;
  
    
}

.option__ftcv{
    width: 100%;
    height: 60px; 
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgba(255,255,255,0.5)#000;
    border: 1px solid black;
    padding: 10px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    border-radius:5px;
}
.option__ftcv input{
    margin-top: 0;
    width: 50px;
    font-size:12px;
}
   
.enviar{
    height:40px;
    padding: 10px 70px;
    background: rgb(192, 94, 238);
    color: #fff;
    font-weight: bold;
    letter-spacing: .2em;
    border-radius: 5px;
    border: none;
}

@media (min-width: 1024px) {
    .mapa__display{
        width: 60%;
        
    }

    .mapa__titulo{
        font-size:15px;
    }

    .mapa__display iframe{
        width: 100%;
        height: 400px;
        margin-right:auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .reserva__acordeon{
        width:50%;
    }

    .form__titulo h3{
        font-size:16px;
    }

    .form__body{
        width: 60%;
        
        text-align:center;
        
    }

    .form__inputs{
        text-align:center;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
    }
    .form__inputs input{
        width: 40%;
        
        
    }

    .form__inputs select{
        width: 40%;
    }
}
