.tour-menu{
    text-transform: uppercase;
    cursor: default;
    pointer-events: none;
    font-weight: bold;
}

.tours__titulo{
    width: 90%;
    margin-top:70px;
    text-align:center;
    border-bottom: 3px double black;
    margin-left: auto;
    margin-right: auto;
}

.tours__titulo h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:48px;
    margin-bottom:10px;
}


.tours__titulo p{
    font-weight: 700;
    margin-bottom:20px;
}

.info{
    margin-top:10px;
    padding:15px;
    margin-bottom: 10px;
}

.info p{
    font-size: 16px;
}


.contenedor__tours{
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right: auto;

}

.tours{
    width: 100%;
    height: auto;
    margin-bottom: 10px; 
    margin-left:auto;
    margin-right: auto;
    
}



.tours h2{
    width: 90%;
    height: 50px;
    text-align: center;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}

.imagen__tours{
    width: 90%;
    height:auto;
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
}

.imagen__tours img{
    width: 280px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}

.imagen__tours p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px; 
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .09em;
}

.form__tours__titulo{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.form__tours__titulo a{
    font-weight: 700;
    justify-content: center;
    display: flex;
    font-size:20px
}

.acordeon{
    width: 80%;
    height: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top:20px;
    bottom: 20px;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.acordeon input{
    display: none;
}

.acordeon label{
    display: block;
    padding: 5px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: var(--color_principal);
    cursor: pointer;
}

.acordeon__titulo{
    display: inline-block;
        

    color: #fff;
}
.acordeon__contenido{
    width: 90%;
    height: 0;
    
   /* transform: translateX(20px);*/
    overflow: hidden;
    transition:all .5s;
}
.acordeon__contenido {
    margin-right: 20px;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #000;
    font-weight:bold;
}

.acordeon__contenido span{
    color: rgb(82, 12, 82);
}

.acordeon__titulo span{
    display: inline-block;
    float: right;
    margin-right: 10px;
    width:21px;
    height:21px;
    text-align: center;
    transition:.7s;
    font-weight: 800;
    color: #fff;
}

.acordeon__item input:checked ~ .acordeon__contenido{
    height: auto;
    transform: translateX(20px);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: all .5s;
    margin-bottom:15px;
}

.acordeon__item input:checked ~ .acordeon__titulo span{
    transform: rotate(-180deg);
    transition: .5s;
    
}
*************************************formulario*************************************/

.formulario__tours{
    display: flex;
    margin-bottom:20px;
    width: 100%;
    height: 100%;
    
}

.form__tours__titulo{
    text-align: center;
    margin-top: 20px;
   width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    background: rgb(51, 107, 228);
    border-radius: 5px;
    color:#fff;
    padding:5px;
    cursor: pointer;
    box-shadow:1px 1px 3px #000;
}

.form__tours__titulo h3:active{
    transform:scale(.99);
    box-shadow:none;
}

.form__tours__titulos{
    margin-top:15px;
    margin-left:25px;
    margin-bottom:10px;
    font-weight: bold;
}

.form__tours__body{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: rgb(189, 186, 186);
    border-radius: 10px;
    padding: 10px;
    display: none;
    
}

.form__tours__inputs input{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    height: 40px;
    border: none;
    border-radius:5px;
    padding: 10px 10px;
    cursor: pointer;
}

.form__tours__inputs select{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    height: 40px;
    border: none;
    border-radius:5px;
    padding: 5px 10px;
    cursor: pointer;
}

.form__tours__inputs select:hover, input:hover{
    border: 1px solid rgb(207, 83, 211);
    
    
}

.form__tours__body input{
    margin-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: none;
  
    
}

   
.enviar{
    height:40px;
    padding: 10px 70px;
    background: rgb(192, 94, 238);
    color: #fff;
    font-weight: bold;
    letter-spacing: .2em;
    border-radius: 5px;
    border: none;
    margin-bottom:15px;
}

.tours__back{
    width: 40%;
    float: right;
    transition: .5s;
}

.tours__back a{
    font-weight: bold;
}


/*******************************RESPONSIVE***********************/
@media (min-width:1024px){
    .contenedor__tours{
        
        width: 90%;
        height: auto;
    
        
    }
    .tours{
        width: 70%;
        height: auto;
        
       
        
        margin-bottom: 50px;
    
    }
    .tour__item{
        width: 90%;
        height: auto;
       
        
        
    }
    
    .ftcv h3{
        width: 100%;
        margin-top: 10px;
        font-size:25px;
        text-align: center;

    
    
    
    }
    .imagen__tours img{
        width: 100%;
        height: 450px;
    }
   
    

     
    
    .acordeon{
        width: 70%;
        margin-top: 30px;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
       font-size: 15px;
        
    }
    
    .acordeon__titulo{
        height:50px;
    }
    
    
    
    .acordeon__contenido {
        
        font-size: 15px;
        
    }
    
    .acordeon__item{
        width: 100%;
        
    }
    
    
    
    
    
}
